html {
  font-family: helvetica, sans serif;
}

h1, h2 {
  text-align: center;
}

table{
  table-layout: fixed;
  font-weight: bold;
  text-align: center;
}

#round1 {
  width: 100%;
  min-width: 740px;
}

#round2_p1,
#round2_p2 {
  display: inline-block;
  max-width: 360px;
  width: 360px;
}

#round2_p1 {
  margin-right: 40px;
}

#round2_p1 td,
#round2_p2 td {
  background: #262626;
  width: 78px;
}

#round2_p1 td.path,
#round2_p2 td.path {
  background: green; 
}
#round1 td,
#round2_p1 td,
#round2_p2 td {
  overflow: hidden;
  padding: 1%;
  border: 2px solid #fff;
}

#round1 td img,
#round2_p1 td img,
#round2_p2 td img {
  display: none;
}

#round1 td p,
#round2_p1 td p,
#round2_p2 td p {
  display: inline;
  color: #fff;
}

#round1 td.active img,
#round2_p1 td.active img,
#round2_p2 td.active img {
  display: inline;
  height: 70px;
  width: 70px;
}

#round1 td.active p,
#round2_p1 td.active p,
#round2_p2 td.active p {
  display: none;
}

.hidden {
  display: none;
}

#p1_row {
  background: blue;
}

#p2_row {
  background: red;
}
